In [ ]:
import plotly.express as px
import pandas as pd
import plotly.graph_objects as go

import ipywidgets as widgets
from ipywidgets import interact, interact_manual
import json
from pandas import json_normalize  
import requests

In [58]:

import requests
import pandas as pd
r = requests.get('https://data.covid19japan.com/summary/latest.json')
x = r.json()
date = []
prefecture = []
dailyConfirmedCount = []
dailyDeceasedCount = []
for i in x['prefectures']:
    for j in range(len(i['dailyConfirmedCount'])):
        date.append(pd.to_datetime(i['dailyConfirmedStartDate']) + pd.DateOffset(j))
        prefecture.append(i['name'])
        dailyConfirmedCount.append(i['dailyConfirmedCount'][j])
        dailyDeceasedCount.append(i['dailyDeceasedCount'][j])
d = {'date':date,'prefecture':prefecture,'dailyConfirmedCount':dailyConfirmedCount,'dailyDeceasedCount':dailyDeceasedCount}
df = pd.DataFrame(data=d)
df

           date prefecture  dailyConfirmedCount  dailyDeceasedCount
0    2020-01-08      Tokyo                    0                   0
1    2020-01-09      Tokyo                    0                   0
2    2020-01-10      Tokyo                    0                   0
3    2020-01-11      Tokyo                    0                   0
4    2020-01-12      Tokyo                    0                   0
...         ...        ...                  ...                 ...
6293 2020-05-09    Tottori                    0                   0
6294 2020-05-10    Tottori                    0                   0
6295 2020-05-11    Tottori                    0                   0
6296 2020-05-12    Tottori                    0                   0
6297 2020-05-13    Tottori                    0                   0

[6298 rows x 4 columns]

In [ ]:
fig = px.line(df,x='date',y='dailyConfirmedCount',facet_col='prefecture',facet_col_wrap=4,height=4000)
fig.update_yaxes(
    matches=None,
    showticklabels=False,
    showgrid=False,
    title_text='y'
) 

fig.update_layout(
    paper_bgcolor="LightSteelBlue",
)

fig.show()

In [ ]:

tokyo = requests.get(url='https://raw.githubusercontent.com/reustle/covid19japan-data/master/docs/tokyo/counts.json')
japan = requests.get(url='https://data.covid19japan.com/summary/latest.json')

tokyo= json.loads(tokyo.content)
japan = json.loads(japan.content)
japan = japan['prefectures']

len(japan)

prefs = []
for i in range(len(japan)):
    prefs.append(japan[i]['name_ja'])
#     print(japan[i]['name_ja'] + str(len(japan[i]['dailyConfirmedCount'])))
#     print(japan[i])

# # df = json_normalize(tokyo,'name','values')
# df = json_normalize(japan,'prefectures','dailyConfirmedCount', errors='ignore',record_prefix='prefix_')
# # df = json_normalize(content,['prefectures'],['daily'])
# # tokyo
# df
# # japan
# # for i in range(len(tokyo)):
# #     print(i)
# japan
px.bar(y=japan[0]['dailyConfirmedCount'])

@interact
def dropbar(prefdp=list(prefs)):
    return px.bar(y = prefdp)

In [ ]:
# df = json_normalize(jh)
df = json_normalize(content, 'values', ['name'])
df

In [ ]:
df = json_normalize(dh, 'values', ['name_ja'])

In [ ]:
df

In [ ]:
df['name_ja'].unique()

In [ ]:
# and if we plot each country as a line
fig = px.bar(df.query("name_ja != 'Count'"),
              x='date',
              y='count',
              color='name_ja')
fig.show()